In [2]:
import pandas as pd
df_population = pd.read_csv('population.csv', encoding='sjis')
df_population

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,00,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,01,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,02,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,03,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,04,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_population = df_population[df_population['西暦（年）'] == 2015]

In [4]:
df_population = df_population[3:]

In [6]:
df_population = df_population[['都道府県コード','人口（総数）']]
df_population.columns = ['prefecture_code','population']
df_population = df_population.astype({'prefecture_code': int, 'population': int})

In [7]:
df_population.to_csv('population_done.csv',index = False)

# vaccine

In [11]:
df_vaccine = pd.read_json('prefecture.ndjson',lines = True)
df_vaccine

            date  prefecture gender  age  medical_worker  status  count
0     2021-04-12           1      F  -64           False       1    116
1     2021-04-12           1      F  65-           False       1     89
2     2021-04-12           1      M  -64           False       1     39
3     2021-04-12           1      M  65-           False       1     26
4     2021-04-12           1      U  -64           False       1     12
...          ...         ...    ...  ...             ...     ...    ...
41463 2021-07-21          47      M  -64           False       2    265
41464 2021-07-21          47      M  65-           False       1    143
41465 2021-07-21          47      M  65-           False       2    619
41466 2021-07-21          47      U  UNK           False       1     10
41467 2021-07-21          47      U  UNK           False       2      4

[41468 rows x 7 columns]

In [12]:
df_vaccine = df_vaccine[df_vaccine['status'] == 1]
df_vaccine = df_vaccine[['date','prefecture','count']]

In [13]:
df_vaccine.to_csv('vaccine.csv',index = False)